:root {
  --background: #f5f7fb;
}

.training-title {
    font-size: 4rem;
    width: fit-content;
    margin: 30px auto 20px;
}

.App {
    font-family: Raleway, serif;
    background-color: var(--background);
}

.container {
    display: flex;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 8px;
    @media (min-width: 1081px) {
      max-width: 1300px;
    }
    @media (max-width: 1080px) {
      max-width: 910px;
    }
    @media (max-width: 768px) {
      max-width: 512px;
    }
}

* {
  box-sizing: border-box;
}
