.StepsManager {
  padding: 16px;
  margin-right: 16px;
  border-radius: 6px;

  .step-card {
    display: flex;
    margin-bottom: 16px;
    padding: 8px 8px 8px 0;
    border-radius: 6px;
    cursor: pointer;

    .check-container {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      margin: 0 0 6px;
      color: #1e2142;
    }

    p {
      margin: 0;
      color: #a8afca;
      font-weight: 500;
    }

    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
  }
}
